/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
body {
    width: 1080px;
    margin: 0 auto;
}

/* Body */

.img-shop {
    height: 400px;
    width: 300px;
    background-color: black;
    background-image: url(../img/1.webp);
    background-size: cover;
    background-size: contain;
    position: relative;
}

.img-shop::before {
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    content: "\2665";
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.img-shop > .discount {
    height: 20px;
    width: 35px;
    background-color: black;
    display: inline-block;
    bottom: 10 px;
    left: 0;
    position: absolute;
}

.img-shop > .info {
    height: 20px;
    width: 60px;
    background-color: black;
    display: inline-block;
    position: absolute;
    bottom: 10 px;
}