/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
body {
    width: 1080px;
    margin: 0 auto;
}

/* Immagine */

.img-shop {
    height: 400px;
    width: 300px;
    background-color: black;
    background-image: url(../img/1.webp);
    background-size: cover;
    background-size: contain;
    position: relative;
}

/* .img-shop:hover {
    background-image: url(../img/1b.webp); */

.heart {
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
        
.heart:hover {
    color: red;
    cursor: pointer;
}

/* Info Aggiuntive */


.discount {
    height: 20px;
    width: 35px;
    background-color: black;
    bottom: 100 px;
    left: 0;
    position: absolute;
}

.info {
    height: 20px;
    width: 60px;
    background-color: black;
    bottom: 10 px;
    position: absolute;
}

.info-clothing {
    font-weight: bolder;
}

.price {
    color: red;
    font-weight: bold;
}

.sales {
    text-decoration: line-through;
}